<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9b857f8bed.js"
      crossorigin="anonymous"
    ></script>
    <title>Birds</title>
  </head>
  <body>
    <div class="container">
      <nav
        class="d-flex navbar navbar-light mb-3"
        style="background-color: #e3f2fd"
      >
        <a href="/birds" class="navbar-brand"
          ><i class="fas fa-dove mr-2"></i> Home</a
        >
        <a href="/birds/new" class="p-2 bd-highlight">New</a>
      </nav>
    </div>
 
