<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://kit.fontawesome.com/9b857f8bed.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <title>Hikes</title>
  </head>
  <body>
    <div class="container text-center">
      <nav
        class="d-flex navbar navbar-light mb-3"
        style="background-color: #e3f2fd"
      >
        <a href="/hikes" class="navbar-brand"
          ><i class="fas fa-dove mr-2"></i> Home</a
        >
        
          <ul class="nav justify-content-end">
            <% if (!currentUser) { %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
         <% } else { %>
          <li class="nav-item nav-link">Signed in as: <%= currentUser.username %></li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %>
          </ul>
        
      </nav>
    </div>
  </body>
</html>
