<%- include("../partials/header") -%>
<form action="/hikes/<%= hike._id %>/comments" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <h3>New Comments For: <%= hike.name %></h3>

          <div class="form-group">
            <textarea
              class="form-control"
              name="comment[text]"
              id="hikeDescription"
              cols="30"
              rows="5"
              placeholder="Comments"
              required
            ></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</form>

<%- include("../partials/footer") -%>
