<%- include("../partials/header") -%>
<form action="/hikes/<%= hike._id %>/comments" method="POST">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group">
          <h3>New Comments For: <%= hike.name %></h3>

          <div class="form-group">
            <textarea
            type="text"
              class="form-control"
              name="comment[text]"
              id="hikeDescription"
              cols="30"
              rows="5"
              placeholder="Comments"
              required
            ></textarea>
            <label class="form-group" for="rating">Rating
              <input scroll="no" type="number" name="comment[hikeRating]" id="rating" min="1" max="5" step=".5" placeholder="1-5"
                class="form-control" />
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</form>

<%- include("../partials/footer") -%>
