<%- include("partials/header") -%>
<div class="container">
  <div class="jumbotron mx-auto text-center" style="width: 80%" ;>
    <h1 class="text-center"><%= bird.name %></h1>
    <img class="text-center" src="<%= bird.image %>" />
  </div>
</div>

<%- include("partials/footer") -%>
