body {
  background-color: lightblue;
}

#textInput {
  text-align: center;
}

.well {
  background-color: #cbc9ce;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

li.nav-link {
  color: #007bff;
}

.block {
  display: block;
  margin: auto;
}
.login-register {
  max-width: 400px;
  margin: auto;
}

#editComment {
  opacity: 0.8;
}

#index {
  margin-left: 6.6%;
}

#show > div > img.photo {
  width: 400px;
}

#show > div > img.photo:hover {
  width: 480px;
}

.rating {
  font-size: 0.8em;
  color: maroon;
}

.delete {
  display: inline;
  
}
