body {
  background-color: lightblue;
}

#textInput {
  text-align: center;
}

.well {
  background-color: #cbc9ce;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

li.nav-link {
  color: #007bff;
}


.block {
  display: block;
  margin: auto;
}
.login-register {
  max-width: 400px;
  margin: auto;
}

.delete {
  display: inline;
}

#editComment {
  
  opacity: 0.8;
}

#index {
  margin-left: 6.6%;
}