body {
  background-color: lightblue;
}

#textInput {
  text-align: center;
}

.well {
  background-color: #cbc9ce;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
}

li.nav-link {
  color: #007bff;
}
